<html>
    <%- include header.ejs %>
  <body>
    <form action='/login' method='POST'>
      <input type='text' name='username' placeholder="enter your username">
      <input type='text' name='password' placeholder="enter your password">
      <button onclick='log()'>submit</button>
    </form>
    <button onclick='log()'>test</button>
  <body>
    <script type='text/javascript' src="../script.js"></script>
</html>
