<a href='#openModal'>Open Modal</a>

<div id='openModal' class='modalDialog'>
  <div>
    <a href='#close' title='Close' class='close'>x</a>
    <h2>Mission</h2>
    <p>theis is words</p>
    <p> moare wokrsds</p>
  </div>
</div>
