<nav class='top-bar' data-topbar role='navigation'>
  <ul class='title-area'>
    <li class='name'>
      <h1><a href='/index'>BURN<img class='iconNav' src='icon.png'></a></h1>

    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class='top-bar-section'>
    <ul class='right'>
      <li><a href='#mission'>Mission</a></li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/register'>Register</a></li>
    </ul>
  </section>
</nav>


<div id='mission' class='modalDialog'>
  <div>
    <a href='#close' title='Close' class='close'>x</a>
    <h2>Mission</h2>
    <p>There are many times when we feel alone and feel like we need a community to discuss tough topics. One of these topics is the perfect response to a burn. The times when you feel like, "shit, that was the perfect comeback"...but that was 4 years later. We can empower the community to collectively form the perfect comeback. Help out a fellow bruised heart. Use other's sharp tongues as your sword. Put ointment on that burn</p>
    <img class='m' src='icon2.png'>
  </div>
</div>
