<html>
  <body>
    <h1>Yo, type in a new insult here</h1>
    <form action='/thread/new' method='POST'>
      <textarea name='newThread' placeholder="Place new insult here!" rows="13" cols="38"></textarea>
      <button>submit</button>
    </form>
  </body>
</html>
