<html>
  <body>
    Please register
    <form action='/register' method='POST'>
      <input type='text' name='username' placeholder="please enter username">
      <input type='text' name='password' placeholder="please enter password">
      <input type='submit'>
    </form>
  </body>
</html>
