<html>
  <%-include header.ejs %>
  <body>
      <h3>Thanks for registering! please sign in here: </h3>
      <form action='/login' method='GET'>
        <input type='submit'>
      </form>
  </body>
</html>
